.gallery {
    min-height: 75%;
}

.galleryItem {
    position: relative;
    max-width: 12rem;
    max-height: 12rem;
    cursor: pointer;

    p {
        position: relative;
        margin: 0;
        z-index: 100;
    }
}
.img {
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {
    .galleryItem {
        max-width: none;
        max-height: none;
    }
}
