.wrapper {
    position: absolute;
    z-index: 1000;
    height: 30px;
    width: 30px;
}

.name {
    position: relative;
    top: -30px;
    left: 10px;
}

.img {
    transform: translate(-50%, -100%);
}
